h1 {
    color: #8AA2A9;
}
h2 { 
    color: #A1E5AB;
}
.cambridge-blue-header {
    color: #90BAAD;
}
#top {
    background: #ADF6B1;
}
nav a {
    color: #717C89;
}
.city {
    background: #8AA2A9;
}
.sea {
    background: #90BAAD;
}
.natural-park {
    background: #A1E5AB;
} 